body{
background-image:url(images/eddy.jpg);
}
h3{
	font-family:tahoma;
	color:blue;
	text-decoration:underline;
	
}
p{
	font-family:;
	font-size:1.5em;
	text-align:center;
	color:orange;
	
	
}
h1{
	text-align:center;
	font-family:tahoma;
	color:blue;
	
}

.foot{
	background-color:gray;
	height:15%;
	
}
div{
	background-color:white;
	width:30%;
	margin-left:35%;
	border: blue 3px solid;
	margin-top:10%;
	border-radius:10%;
	
}
form{
	text-align:center;
}
img{
	float:left;
	height:5%;
}
header{
	background-color:white;
	
}